[submodule "hosts/shipwright"]
	path = hosts/shipwright
	url = https://github.com/BaiterYamato/Shipwright-HyliaFoundry.git
	branch = agent/OOT-LINK-003-runtime
[submodule "hosts/2ship2harkinian"]
	path = hosts/2ship2harkinian
	url = https://github.com/BaiterYamato/2ship2harkinian.git
	branch = agent/MM-LINK-003-runtime
